<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pdraw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51A459161BD3B78B0081C99B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A4592C1BD3B78C0081C99B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A459371BD3B78C0081C99B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
